footer
    .container-fluid
        .row
            
            .col-sm-12.col-md-3
                
                a.logo(href="#") 
                
            .col-sm-12.col-md-3
                
                ul.redes
                    li
                        a.fb(href="#", target="_blank")
                    li
                        a.tw(href="#", target="_blank")
                    li
                        a.in(href="#", target="_blank")
                    li
                        a.yt(href="#", target="_blank")
                            
                p.copyright &copy; YPF 2017 | términos y condiciones
                
            .col-sm-12.col-md-3
                
                ul.menu
                    li
                        a(href="#") Educación
                    li
                        a(href="#") Premios
                    li
                        a(href="#") Alianzas	
                    li
                        a(href="#") Sitios recomendados

                
            .col-sm-12.col-md-3
                
                h5 Contacto
                
                p.contacto
                    | Macacha Güemes 515
                    br
                    | Piso 28 (C1106BKK), 
                    br
                    | CABA, Bs.As., Argentina 
                    br
                    | (011) 5441-5546 
                    br
                    | fundacion_ypf@ypf.com

        

script(src='js/vendor.js')
script(src='js/' + js_app)
