footer
    .container-fluid
        .row
            
            .col-sm-12.col-md-3
                
                a.logo(href="#") 
                
            .col-sm-12.col-md-3
                
                ul.redes
                    li
                        a.fb(href="#")
                    li
                        a.tw(href="#")
                    li
                        a.in(href="#")
                    li
                        a.yt(href="#")
                            
                p.copyright &copy; YPF 2017 | términos y condiciones
                
            .col-sm-12.col-md-3
                
                ul.menu
                    li
                        a(href="#") Educación
                    li
                        a(href="#") Premios
                    li
                        a(href="#") Alianzas	
                    li
                        a(href="#") Sitios recomendados

                
            .col-sm-12.col-md-3
                
                h5 Contactato
                
                p
                    | Macacha Güemes 515Piso 28 (C1106BKK), 
                    br
                    | CABA, Bs.As., Argentina 
                    br
                    | (011) 5441-5546 
                    br
                    | fundacion_ypf@ypf.com

        

script(src='js/vendor.js')
script(src='js/' + js_app)
