nav
    
    h1
        a(href="#")
    
    a.btn-menu(href="#")
        
    ul.menu
        li
            a(href="index.html#educacion") Educación
        li
            a(href="index.html#premios") Premios
        li
            a(href="index.html#alianzas") Alianzas
        li
            a(href="index.html#sitios") Sitios recomendados
