nav.mobile-open
    
    h1
        a(href="#")
    
    a.btn-menu(href="#")
        
    ul.menu
        li
            a(href="#educacion") Educación
        li
            a(href="#premios") Premios
        li
            a(href="#alianzas") Alianzas
        li
            a(href="#sitios") Sitios recomendados
