doctype html
html(lang='en-US')
    head
        meta(charset='UTF-8')
        title Fundación YPF
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        link(rel='stylesheet', type='text/css', href='css/' + css_app)
        //link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
        //link(rel="icon", href="images/favicon.ico", type="image/x-icon")
        meta(name="msapplication-TileImage", content="images/favicon/cropped-isotipo-270x270.png")
        link(rel="apple-touch-icon-precomposed", href="images/favicon/cropped-isotipo-180x180.png")
        link(rel="icon", href="images/favicon/cropped-isotipo-192x192.png" sizes="192x192")
        link(rel="icon", href="images/favicon/cropped-isotipo-32x32.png" sizes="32x32")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Asap:400,500,600,700")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Rubik")
