nav.container-fluid
    
    h1
        a(href="#")
    
    a.btn-menu(href="#")
            
    nav
        ul.menu
            li
                a Educación
            li
                a Premios
            li
                a Alianzas
            li
                a Sitios recomendados
            li
                a Contacto
