nav
    
    h1
        a(href="#")
    
    a.btn-menu(href="#")
        
    ul.menu
        li
            a(href="#") Educación
        li
            a(href="#") Premios
        li
            a(href="#") Alianzas
        li
            a(href="#") Sitios recomendados
        li
            a(href="#") Contacto
