extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
    
    .section-row.row-desarrollo
        
    
    .section-row.row-laboratorio
        
    
    .section-row.row-diagnostico
    
    
    .section-row.row-material
        
        
        
        
