extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
    
    .section-row.row-desarrollo
        .container-fluid
            .row
                .col-sm-12
                    h4 Desarrollo Local
                    h3 Lorem ipsum dolor sit amet, consectetueradipiscing elit, sed diam nonummy nibhmod.
                    .sep
            .row
                .col-sm-12.col-md-6
                    p Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                
                .col-sm-12.col-md-6
                    p Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
    
    .section-row.row-laboratorio
        .container-fluid
            .row
                .col-sm-12.col-md-6.col-texto
                    .container-texto
                        .vertical-align
                            h4 Laboratorio Urbano
                            h3 Recursos parala planificaciónparticipativa.
                            .sep
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor.
                .col-sm-12.col-md-6.col-mapa
                    .map asdasdad
                    
    .section-row.row-diagnostico
        .container-fluid
            .row
                .col-sm-12
                    .pinkfloyd
                        h4 Diagnóstico
                        p Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                        .botones
                            a(href="#") Formulario de Diagnóstico
                            a(href="#") Material de Consulta
                            
    .section-row.row-formulario
        .container-fluid
            .row
                .col-sm-12.verde
                    h5 Formulario de Diagnóstico
                    ul
                        li
                            .top-row
                                span 1.
                                p Texto
                                .pulldown
                                    .value +10.000
                                    .input-list
                                        label
                                            | +10.000
                                            input(type="radio", value="+10.000")
                                            span.radio
                                        label
                                            | +10.000
                                            input(type="radio", value="+10.000")
                                            span.radio
                                        label
                                            | +10.000
                                            input(type="radio", value="+10.000")
                                            span.radio
                                        label
                                            | +10.000
                                            input(type="radio", value="+10.000")
                                            span.radio
                            
                        li
                            .top-row
                                span 1.
                                p Texto
                                .pulldown
                                    .value +10.000
                                    .input-list
                                        label
                                            | +10.000
                                            input(type="radio", value="+10.000")
                                            span.radio
                                        label
                                            | +10.000
                                            input(type="radio", value="+10.000")
                                            span.radio
                            .bottom-row
                                textarea.lines(cols="50", rows="10")
                        
                        li
                            .top-row
                                span 1.
                                p Texto
                                .pulldown
                                    .value +10.000
                                    .input-list
                                        label
                                            | +10.000
                                            input(type="radio", value="+10.000")
                                            span.radio
                                        label
                                            | +10.000
                                            input(type="radio", value="+10.000")
                                            span.radio
                            .bottom-row
                                .lista
                                    .lista-item
                                        .col-izq
                                            h6 Participación
                                            p (10: amplia oferta de espacios de participación, 0: nula oferta de espacios de participación)
                                        .col-der
                                            .rango.justify
                                                0 + 10
                                            .radios
                                                label
                                                    input(type="radio", value="1")
                                                    span.radio
                                                label
                                                    input(type="radio", value="2")
                                                    span.radio
                                                label
                                                    input(type="radio", value="3")
                                                    span.radio
                                                label
                                                    input(type="radio", value="4")
                                                    span.radio
                                                label
                                                    input(type="radio", value="5")
                                                    span.radio
                                                label
                                                    input(type="radio", value="6")
                                                    span.radio
                                                label
                                                    input(type="radio", value="7")
                                                    span.radio
                                                label
                                                    input(type="radio", value="8")
                                                    span.radio
                                                label
                                                    input(type="radio", value="9")
                                                    span.radio
                                                label
                                                    input(type="radio", value="10")
                                                    span.radio
                    
                    button Enviar                            
                                    
                            
    .section-row.row-material
        .container-fluid
            .row
                
                .col-sm-12.col-md-6
                    h4 Material de Consulta
                    h3 Texto texto texto, texto texto.
                    .sep
                    p Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                
                .col-sm-12.col-md-6
                    ul
                        li
                            a(href="#", target="_blank") Stat.Mit.Edu (.PPTX)
                        li
                            a(href="#", target="_blank") Discovery en la Escuela (.PDF)
                        li
                            a(href="#", target="_blank") Blackboard (.XDOC)
                        li
                            a(href="#", target="_blank") MIT. Massachusetts Institute of Technology (.PDF)
                        li
                            a(href="#", target="_blank") Educ.Ar (.PPTX)
                        li
                            a(href="#", target="_blank") MIT Energy (.PDF)
        
        
