extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
    
    .section-row.row-banner(style="background-image:url('images/bg_banner.jpg');")
        .container-fluid
            .row
                
                .col-sm-12.col-lg-7
        
                    h2 La energía <br>que nos inspira a <br>aprender e innovar
                    
                    p Fundación YPF LAB es un espacio de interacción y participación para potenciar el conocimiento y la investigación en energía a través de contenidos, actividades, premios y concursos.
                    
        
    .section-row.row-damero#educacion
        .container-fluid
            .row
                
                .col-sm-12.titulo
                
                    h4 Educación
                
                .col-sm-12.selectioner
                    select
                        option(value="[0]") Todos los programas
                        option(value="[1]") EDUCACIÓN PRIMARIA
                        option(value="[2,3]") EDUCACIÓN SECUNDARIA 
                        option(value="[4]") EDUCACIÓN TÉC. PROFESIONAL
                        option(value="[5]") EDUCACIÓN UNIVERSITARIA
                        option(value="[6]") EDUCACIÓN CIUDADANA
                        
                .col-sm-12
                    
                    ul.categorias
                        li(data-array="[1]") EDUCACIÓN<br>PRIMARIA  
                        li(data-array="[2,3]") EDUCACIÓN<br>SECUNDARIA 
                        li(data-array="[4]") EDUCACIÓN<br>TÉC. PROFESIONAL
                        li(data-array="[4]") EDUCACIÓN<br>UNIVERSITARIA
                        li(data-array="[6]") EDUCACIÓN<br>CIUDADANA
                    
                    .container-fluid
                        .links.row
                            
                            #link-1.col-sm-6.col-md-4.tipo1(href="#")
                                img(src="images/im_damero-1.png")    
                                .overlay
                                    p Fundación YPF y Fundación Voz, buscan fortalecer la enseñanza de las ciencias, en el marco dela transformación del nivel secundario.
                                    
                                    a(href="#", target="_blank") 
                                        | Conocer más 
                                        i →
                                    
                            #link-2.col-sm-6.col-md-4.tipo1(href="#")
                                img(src="images/im_damero-2.png")
                                .overlay
                                    p Fundación YPF y Fundación Voz, buscan fortalecer la enseñanza de las ciencias, en el marco dela transformación del nivel secundario.

                                    a(href="#", target="_blank") 
                                        | Conocer más 
                                        i →
                                
                            #link-3.col-sm-6.col-md-4.tipo2(href="#")
                                span Vocaciones
                                .overlay
                                    p Fundación YPF y Fundación Voz, buscan fortalecer la enseñanza de las ciencias, en el marco dela transformación del nivel secundario.

                                    a(href="#", target="_blank") 
                                        | Conocer más 
                                        i →
                                
                            #link-4.col-sm-6.col-md-4.tipo3(href="#", style="background-image:url('images/im_damero-4.png');")
                                span Educación<br>Técnico<br>Profesional
                                .overlay
                                    p Fundación YPF y Fundación Voz, buscan fortalecer la enseñanza de las ciencias, en el marco dela transformación del nivel secundario.

                                    a(href="#", target="_blank") 
                                        | Conocer más 
                                        i →
                                       
                            #link-5.col-sm-6.col-md-4.tipo3(href="#", style="background-image:url('images/im_damero-5.png');")
                                span MOOC y<br>Universidades
                                .overlay
                                    p Ejemplo de texto.

                                    a(href="#1", target="_blank")
                                        | Conocer más 
                                        i →
                                    a(href="#2", target="_blank")
                                        | Conocer más 
                                        i →
                                
                            #link-6.col-sm-6.col-md-4.tipo3(href="#", style="background-image:url('images/im_damero-6.png');")
                                span Desarrollo Local
                                .overlay
                                    p Fundación YPF y Fundación Voz, buscan fortalecer la enseñanza de las ciencias, en el marco dela transformación del nivel secundario.

                                    a(href="#", target="_blank") 
                                        | Conocer más 
                                        i →
                                
                                
    .section-row.row-premios#premios
        
        .swiper-container
            .swiper-wrapper
                
                .swiper-slide
                    .container-fluid
                        .row
                            
                            .col-sm-12.col-lg-6.image(style="background-image:url('images/dummie/bg_premios.jpg');")
                                .overlay
                                    
                            .col-sm-12.col-lg-6
                                
                                h4 Premios 2017
                                
                                h3 Convocatoria a premios y concursos
                                
                                .sep
                                    
                                p Invitamos a poner en valor las ideas y proyectosque promuevan la educación de calidad y el desarrollo sostenible de las comunidades confoco en la energía y el impacto social.
                                
                                .botones
                                    
                                    a(href="#") Estudiantes Ingresantes
                                    
                                    a(href="#") Estudiantes Avanzados
                                    
                .swiper-slide
                    .container-fluid
                        .row
                            
                            .col-sm-12.col-lg-6.image(style="background-image:url('images/dummie/bg_premios.jpg');")
                                .overlay
                                    
                            .col-sm-12.col-lg-6
                                
                                h4 Premios 2018
                                
                                h3 Convocatoria a premios y concursos
                                
                                .sep
                                    
                                p Invitamos a poner en valor las ideas y proyectosque promuevan la educación de calidad y el desarrollo sostenible de las comunidades confoco en la energía y el impacto social.
                                
                                .botones
                                    
                                    a(href="#") Estudiantes Ingresantes
                                    
                                    a(href="#") Estudiantes Avanzados
        
        .swiper-button-next
        .swiper-button-prev
    
    
    .section-row.row-videos
        
        .container-fluid
            .row
                
                .col-sm-12
                    
                    .videos
                        .primario
                            iframe(width="560", height="315", src="https://www.youtube.com/embed/IvJLTw4jmZs", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
                        
                        .lista
                            
                            .swiper-container
                                
                                .swiper-wrapper
                                    
                                    .swiper-slide
                                        .thumbnail(data-yt="yXrlhebkpIQ", style="background-image:url('http://i.ytimg.com/vi/yXrlhebkpIQ/hqdefault.jpg');")
                                            .overlay
                                    
                                    .swiper-slide
                                        .thumbnail(data-yt="IvJLTw4jmZs", style="background-image:url('http://i.ytimg.com/vi/IvJLTw4jmZs/hqdefault.jpg');")
                                            .overlay
                                    
                                    .swiper-slide
                                        .thumbnail(data-yt="yXrlhebkpIQ", style="background-image:url('http://i.ytimg.com/vi/yXrlhebkpIQ/hqdefault.jpg');")
                                            .overlay
                                    
                                    .swiper-slide
                                        .thumbnail(data-yt="IvJLTw4jmZs", style="background-image:url('http://i.ytimg.com/vi/IvJLTw4jmZs/hqdefault.jpg');")
                                            .overlay
                                    
                                    .swiper-slide
                                        .thumbnail(data-yt="yXrlhebkpIQ", style="background-image:url('http://i.ytimg.com/vi/yXrlhebkpIQ/hqdefault.jpg');")
                                            .overlay
                                    
                                    .swiper-slide
                                        .thumbnail(data-yt="IvJLTw4jmZs", style="background-image:url('http://i.ytimg.com/vi/IvJLTw4jmZs/hqdefault.jpg');")
                                            .overlay
                                    
                                    .swiper-slide
                                        .thumbnail(data-yt="yXrlhebkpIQ", style="background-image:url('http://i.ytimg.com/vi/yXrlhebkpIQ/hqdefault.jpg');")
                                            .overlay
                                    
                                    .swiper-slide
                                        .thumbnail(data-yt="IvJLTw4jmZs", style="background-image:url('http://i.ytimg.com/vi/IvJLTw4jmZs/hqdefault.jpg');")
                                            .overlay
                                
                            .swiper-button-next
                            .swiper-button-prev
                        
                        
                        .lista.hidden    
                            .thumbnail(data-yt="yXrlhebkpIQ", style="background-image:url('http://i.ytimg.com/vi/yXrlhebkpIQ/hqdefault.jpg');")
                                .overlay
                            .thumbnail(data-yt="yXrlhebkpIQ", style="background-image:url('http://i.ytimg.com/vi/yXrlhebkpIQ/hqdefault.jpg');")
                                .overlay
                            .thumbnail(data-yt="yXrlhebkpIQ", style="background-image:url('http://i.ytimg.com/vi/yXrlhebkpIQ/hqdefault.jpg');")
                                .overlay
                            .thumbnail(data-yt="yXrlhebkpIQ", style="background-image:url('http://i.ytimg.com/vi/yXrlhebkpIQ/hqdefault.jpg');")
                                .overlay
                            .thumbnail(data-yt="IvJLTw4jmZs", style="background-image:url('http://i.ytimg.com/vi/IvJLTw4jmZs/hqdefault.jpg');")
                                .overlay
                            .thumbnail(data-yt="IvJLTw4jmZs", style="background-image:url('http://i.ytimg.com/vi/IvJLTw4jmZs/hqdefault.jpg');")
                                .overlay
                        
            
    .section-row.row-alianzas#alianzas
        
        .container-fluid
            
            .row
                
                .col-sm-12
                    
                    h4 Alianzas Estratégicas
                    
            .row
                
                .col-sm-12.selectioner
                    select
                        option(value="tab-1") Seleccionar una categoría...
                        option(value="tab-2") Universidades y Organismos Académicos
                        option(value="tab-3") Sector Público
                        option(value="tab-4") Sociedad Civil
                
                .col-sm-12.col-md-4.col-md-push-8
                    
                    ul.botones
                        li(data-tab="2")
                            i(style="background-image:url('images/gifs/icono_universidades_animado.gif');")
                            span Universidades y Organismos Académicos
                        li(data-tab="3")
                            i(style="background-image:url('images/gifs/icono_sociedadcivil_animado.gif');")
                            span Sector Público
                        li(data-tab="4")
                            i(style="background-image:url('images/gifs/icono_sectorpublico_animado.gif');")
                            span Sociedad Civil
                            
                .col-sm-12.col-md-8.col-md-pull-4
                    
                    .alianzas-tabs
                        .tab.tab-1.active
                            p En Fundación YPF, nos unimos a quienes tienen el conocimiento, la experienciay son parte de las esferas pública, público-privada y de la sociedad civil. Con todos ellos implementamos nuestros programas para lograr los objetivos de desarrollo sostenible.
                        
                        .tab.tab-2
                            ul
                                li.tipo-2
                                    a(href="#") CONICET
                                li.tipo-2
                                    a(href="#") UNIVERSIDAD DE SAN ANDRÉS
                                li.tipo-1
                                    a(href="#") UNPSJB
                                li.tipo-1
                                    a(href="#") UNPA
                                li.tipo-1
                                    a(href="#") UNCOMA
                                li.tipo-2
                                    a(href="#") UNCUYO
                                li.tipo-2
                                    a(href="#") UNAJ
                                li.tipo-2
                                    a(href="#") UNSA
                                li.tipo-1
                                    a(href="#") UNJU
                                li.tipo-1
                                    a(href="#") UBA
                                li.tipo-2
                                    a(href="#") ITBA
                                    
                        .tab.tab-3
                            ul
                                li.tipo-1
                                    a(href="#") GDFE
                                li.tipo-2
                                    a(href="#") ASHOKA
                                li.tipo-3
                                    a(href="#") SOCIAL LAB
                                li.tipo-3
                                    a(href="#") FUNDACIÓN VOZ
                                li.tipo-3
                                    a(href="#") RIL
                                li.tipo-3
                                    a(href="#") CIPPEC
                                    
                        .tab.tab-4
                            ul
                                li.tipo-1
                                    a(href="#") GDFE
                                li.tipo-2
                                    a(href="#") ASHOKA
                                li.tipo-3
                                    a(href="#") SOCIAL LAB
                                li.tipo-3
                                    a(href="#") FUNDACIÓN VOZ
                                li.tipo-3
                                    a(href="#") RIL
                                li.tipo-3
                                    a(href="#") CIPPEC
                        


    .section-row.row-recomendados#sitios
    
        .container-fluid
            .row
                
                .col-sm-12
        
                    h4 Sitios Recomendados
            
        ul.clearfix
            li
                a(href="#", target="_blank") 
                    | Universidad de Colorado
                    span &nbsp;
            li
                a(href="#", target="_blank") 
                    | BP Energy Outlook
                    span &nbsp;
            li
                a(href="#", target="_blank") 
                    | UNESCO 
                    span Programa Mujeres en la Ciencia
            li
                a(href="#", target="_blank") 
                    | Shale 
                    span Hidrocarburos No Convencionales
            li
                a(href="#", target="_blank") 
                    | ODS 
                    span Consejo Nacional de Políticas Sociales
            li
                a(href="#", target="_blank") 
                    | Cleannet
                    span &nbsp;
            li
                a(href="#", target="_blank") 
                    | IAPG 
                    span Sitios de Estadísticas
            li
                a(href="#", target="_blank") 
                    | Dpto. de Energía de los EEUU
                    span &nbsp;
            li
                a(href="#", target="_blank") 
                    | IEA 
                    span Sitio de Estadísticas
            li
                a(href="#", target="_blank") 
                    | Secretaría de Gobierno de Energía
                    span &nbsp;
            
    
        
        
