extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
    
    .section-row.row-banner
        .container-fluid
            .row
                
                .col-sm-12
        
                    h2 La energíaque nos inspira aaprender e innovar
                    
                    p Fundación YPF LAB es un espacio de interacción y participaciónpara potenciar el conocimiento y la investigación en energía a travésde contenidos, actividades, premios y concursos.
                    
        
    .section-row.row-damero
        .container-fluid
            .row
                
                .col-sm-12
                    
                    ul
                        li EDUCACIÓN PRIMARIA  
                        li EDUCACIÓN SECUNDARIA 
                        li EDUCACIÓN TÉC. PROFESIONAL
                        li EDUCACIÓN UNIVERSITARIA
                        li EDUCACIÓN CIUDADANA
                        
                    .links
                        
                        a.tipo1(href="#")
                            
                        a.tipo1(href="#")
                            
                        a.tipo2(href="#")
                            
                        a.tipo3(href="#")
                                   
                        a.tipo3(href="#")
                            
                        a.tipo3(href="#")
        
        
    .section-row.row-premios
        
        .swiper-container
            .swiper-wrapper
                
                .swiper-slide
                    .container-fluid
                        .row
                            
                            .col-sm-12.col-md-6(style="backgroud-image:url('images/iii.jpg');")
                                
                            .col-sm-12.col-md-6
                                
                                h4 Premios 2018
                                
                                h3 Convocatoria a premios y concursos
                                
                                p Invitamos a poner en valor las ideas y proyectosque promuevan la educación de calidad y el desarrollo sostenible de las comunidades confoco en la energía y el impacto social.
                                
                                .botones
                                    
                                    a(href="#") Estudiantes Ingresantes
                                    
                                    a(href="#") Estudiantes Avanzados
                
                .swiper-slide
                    .container-fluid
                        .row
                            
                            .col-sm-12.col-md-6(style="backgroud-image:url('images/iii.jpg');")
                                
                            .col-sm-12.col-md-6
                                
                                h4 Premios 2018
                                
                                h3 Convocatoria a premios y concursos
                                
                                p Invitamos a poner en valor las ideas y proyectosque promuevan la educación de calidad y el desarrollo sostenible de las comunidades confoco en la energía y el impacto social.
                                
                                .botones
                                    
                                    a(href="#") Estudiantes Ingresantes
                                    
                                    a(href="#") Estudiantes Avanzados
    
    
    .section-row.row-videos
        
        .container-fluid
            .row
                
                .col-sm-12
                    
                    .videos
                        .primario
                            iframe(width="560", height="315", src="https://www.youtube.com/embed/IvJLTw4jmZs", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
                        .lista
                            .thumbnail
                                img(src="images/iii.jpg")
                            .thumbnail
                                img(src="images/iii.jpg")
                            .thumbnail
                                img(src="images/iii.jpg")
                            .thumbnail
                                img(src="images/iii.jpg")
                            .thumbnail
                                img(src="images/iii.jpg")
                            .thumbnail
                                img(src="images/iii.jpg")
                        
            
    .section-row.row-alianzas
        
        .container-fluid
            .row
                .col-sm-12.col-md-7
                    
                    h4 Alianzas Estratégicas
                    
                    p En Fundación YPF, nos unimos a quienes tienen el conocimiento, la experienciay son parte de las esferas pública, público-privada y de la sociedad civil.Con todos ellos implementamos nuestros programas para lograr los objetivos de desarrollo sostenible.
                    
                .col-sm-12.col-md-5
                    
                    ul
                        li
                            i(stlye="backgroud-image:url('images/');")
                            span Universidades y Organismos Académicos
                        li
                            i(stlye="backgroud-image:url('images/');")
                            span Sector Público
                        li
                            i(stlye="backgroud-image:url('images/');")
                            span Sociedas Civil


    .section-row.row-recomendados
    
        .container-fluid
            .row
                
                .col-sm-12
        
                    h4 Sitios Recomendados
                    
                    ul
                        li
                            a(href="#") 
                                | Universidad de Colorado
                        li
                            a(href="#") 
                                | BP Energy Outlook
                        li
                            a(href="#") 
                                | UNESCO 
                                span Programa Mujeres en la Ciencia
                        li
                            a(href="#") 
                                | Shale 
                                span Hidrocarburos No Convencionales
                        li
                            a(href="#") 
                                | ODS 
                                span Consejo Nacional de Políticas Sociales
                        li
                            a(href="#") 
                                | Cleannet
                        li
                            a(href="#") 
                                | IAPG 
                                span Sitios de Estadísticas
                        li
                            a(href="#") 
                                | Dpto. de Energía de los EEUU
                        li
                            a(href="#") 
                                | IEA 
                                span Sitio de Estadísticas
                        li
                            a(href="#") 
                                | Secretaría de Gobierno de Energía
            
    
        
        
