// *************************************
//
//   Footer
//
// *************************************

footer {
    position: relative;
    padding:80px 0px 80px;
    text-align: center;
    background:#262626;

    a.logo{
        display:block;
        width:240px;
        height: 52px;
        background:url(../images/logo-ft.png) center center no-repeat;
        background-size: contain;
        @media(max-width: 990px){
            width:240px;
            margin:0 auto 30px;
        }
    }
    p.copyright{
        font-family: 'Rubik';
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color:#A0A0A0;
        @media(max-width: 990px){
            margin-bottom:30px;
        }
    }
    ul.redes{
        padding:10px 0 70px;
        width:100%;
        li{
            display: inline-block;
            list-style:none;
            margin:0px 0 0 18px;
            text-align: center;
            a{
                display:block;
                width:36px;
                height:36px;
                background:url('../images/sp_redes.png') center center no-repeat;
                &.fb{
                    background-position:0 0;
                }
                &.tw{
                    background-position:-38px 0;
                }
                &.in{
                    background-position:-76px 0;
                }
                &.yt{
                    background-position:-114px 0;
                }
            }
        }
        @media(max-width: 990px){
            padding-bottom:30px;
        }
    }
    ul.menu{
        margin:0 30px 0 30px;
        padding:0;
        li{
            list-style: none;
            text-align: left;
            padding:0 0 22px;
            a{
                font-size:16px;
                line-height: 20px;
                color:#FFF;
                font-family: 'D-DIN';
                font-weight: bold;
                text-align: left;
                &:hover{
                    text-decoration: underline;
                }
                @media(max-width: 990px){
                    text-align: center;
                }
            }
            @media(max-width: 990px){
                text-align: center;
            }
        }
        @media(max-width: 990px){
            margin:30px;
        }
    }
    h5{
        font-size:16px;
        line-height: 20px;
        color:#FFF;
        font-family: 'D-DIN';
        font-weight: bold;
        text-align: left;
        padding:0 0 22px;
        margin:0;
        @media(max-width: 990px){
            margin: 0 30px;
            text-align: center;
        }
    }
    p.contacto{
        font-size:16px;
        line-height: 21px;
        color:#FFF;
        font-family: 'D-DIN';
        font-weight: normal;
        text-align: left;
        padding:0 0;
        margin:0;
        @media(max-width: 990px){
            margin: 0 30px;
            text-align: center;
        }
    }

}
