// *************************************
//
//   Footer
//
// *************************************

footer {
    position: relative;
    padding:10px 50px 30px;
    text-align: center;
    background:#1a6a9d;
    @media(max-width: 800px){
        padding:20px 20px;
    }
    a.logo{
        display: block;
        position:absolute;
        top:30px;
        left:50px;
    }

    p.copyright{
        line-height: 68px;
        margin:0;
        font-family:'Roboto';
        font-size: 14px;
        text-align: left;
        float: left;
        padding:2px 0 0;
        margin:0;
        color:#FFF;
        text-shadow: 0 2px 6px rgba(0,0,0,0.2);
        @media(max-width: 992px){
            text-align: center;
            width:100%;
            font-size: 12px;
            line-height: 18px;
            padding:10px 0 20px;
        }
    }

    ul.redes{
        padding:10px 0 0;
        float: right;
        li{
            float:left;
            list-style:none;
            margin:0px 0 0 18px;
            text-align: center;
            a{
                display:block;
                width:48px;
                height:48px;
                border:3px solid #FFF;
                border-radius: 30px;
                box-shadow: 0 2px 6px rgba(0,0,0,0.2);
            }
            i{
                font-size:28px;
                color:#FFF;
                line-height: 43px;
                text-shadow: 0 2px 6px rgba(0,0,0,0.2);
            }
            @media(max-width: 600px){
                margin:0px 0 0 6px;
            }
        }
        @media(max-width: 992px){
            width:100%;
            text-align: center;
            li{
                float:none;
                display:inline-block;
            }
        }
    }

    .disclaimer{
        padding:30px 15px 0;
        margin:10px auto 0;
        text-align: right;
        border-top:2px solid #007bb1;
        @media(max-width: 992px){
            padding-right:0;
            padding-left:0;
        }
        p{
            font-family:'Roboto';
            font-size:12px;
            text-align: left;
            color:#FFF;
            padding-bottom:20px;
            text-shadow: 0 2px 6px rgba(0,0,0,0.2);
        }
        a.afip{
            display:inline-block;
            width:50px;
            img{
                width:100%;
            }
        }
    }

}
