// *************************************
//
//   Navbar
//   -> Bootstrap Navbar Overrides
//
// *************************************

nav{

    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index: 11;

    h1{
        float:left;
        margin:35px 0 0 50px;
        padding: 0;
        border-radius: 10px;
        a{
            display:block;
            width:196px;
            height: 65px;
            background:url(../images/logo.png) center center no-repeat;
            background-size: contain;
            @media(max-width: 650px){
                width:196px;
                margin:0 auto;
            }
        }
        @media(max-width: 800px){
            margin:32px 0 0 30px;
        }
    }

    a.btn-menu{
        display: none;
        float:right;
        width:33px;
        height:22px;
        background:url(../images/home/im_header_menu_gray.png) no-repeat;
        margin:56px 55px 0 42px;
        @media(max-width: 800px){
            margin:56px 30px 0 32px;
        }
    }

    ul.menu{
        float:right;
        padding:56px 50px 0 0;
        li{
            list-style:none;
            display:inline-block;
            padding-left:58px;
            a{
                color:#000;
                font-family: 'D-DIN';
                font-size:14px;
                text-transform: uppercase;
                font-weight: bold;

            }
        }
    }

}
