.btn {
    display: inline-block;
    font-family: $lato;
    width:auto;
    background-color: #30b873;
    padding: 9px 30px;
    border-radius: 6px;
    color: white !important;
    font-weight:300;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    display: inline-block;
    border: 0 none;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    @include transition(all .2s ease);

    &.btn-red{
        background-color: #b85630 !important;
    }

    &.btn-blue{
        background-color: #3098bf !important;
    }

    &:hover {
        text-decoration: none;
        -webkit-transform: translateY(-3%);
        -moz-transform: translateY(-3%);
        -ms-transform: translateY(-3%);
        -o-transform: translateY(-3%);
        transform: translateY(-3%);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
        color: $c-btn-text-hover;
    }
    &.btn--center {
        margin-left: auto;
        margin-right: auto;
    }
    &.btn--small {
        width: 196px;
        padding: 16px 0;
    }

    i {
        margin-right: 3px;
        font-size: $font-size-base;
    }
}
