.section-row {
//DIVIDI CADA PARTE DEL DISEÑO EN UNA SECCION NUEVA
    min-height:200px;
    font-family: $lato;//VARIABLE DEFINIDA EN CONFIG QUE DEFINE LA TIPOGRAFIA DE GOOGLE FONTS LATO

}

.container-fluid{
    max-width:1400px;
}

.row-banner{
    background-position:top center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    max-height: 800px;
    min-height: 600px;
    padding:200px 0 0;
    @media(max-width: 650px){
        height:auto;
        max-height: none;
    }
    h2{
        font-family: 'DINNextLTPro';
        font-weight: 500;
        font-size: 80px;
        line-height: 85px;
        color:#FFF;
        margin-bottom:37px;
        margin:0 30px 37px;
        @media(max-width: 800px){
            font-size: 32px;
            line-height: 38px;
            br{
                display:none;
            }
        }
    }
    p{
        font-family: 'DINNextLTPro';
        font-weight: 200;
        font-size: 24px;
        line-height: 30px;
        color:#FFF;
        margin:0 30px 80px;
        @media(max-width: 800px){
            font-size: 22px;
            line-height: 26px;
        }
    }

}

.row-damero{

    background:#753BBD;
    padding:78px 50px;

    @media(max-width: 600px){
        padding:50px 10px;
    }

    .titulo{
        display:none;
        @media(max-width: 1100px){
            display: block;
            h4{
                color:#00CFB4;
                font-family: 'LibreBaskerville';
                font-size:24px;
                line-height:30px;
                font-weight: 600;
                letter-spacing: 1px;
                margin:10px 0 20px;
                padding:0 0px;
            }
        }
    }

    .selectioner{
        display:none;
        @media(max-width: 1100px){
            display: block;
        }
        select{
            height: 50px;
            margin:0px 0px 10px;
            border-radius: 0;
            border: 0;
            width:100%;
            option{
                font-size:14px;
            }
        }
    }

    ul{
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        border:2px solid #00CFB4;
        padding:0;
        margin:0 2px 0 0;
        @media(max-width: 1100px){
            display:none;
        }
        li{
            -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
            -moz-box-flex: 1;         /* OLD - Firefox 19- */
            width: 20%;               /* For old syntax, otherwise collapses. */
            -webkit-flex: 1;          /* Chrome */
            -ms-flex: 1;              /* IE 10 */
            flex: 1;
            list-style: none;
            font-family: 'DINNextLTPro';
            font-weight: 200;
            font-size: 23px;
            line-height:23px;
            color:#00CFB4;
            border-right:2px solid #00CFB4;
            padding:19px 0 17px;
            margin:0;
            text-align: center;
            cursor:pointer;
            &:last-child{
                border-right:none;
            }
            &:hover{
                border-bottom: 4px solid #00CFB4;
                padding-bottom: 6px;
            }
            &.active{
                border-bottom: 4px solid #00CFB4;
                padding-bottom: 6px;
            }
        }
    }
    .links{
        border:2px solid #a27ad2;
        border-top:none;
        border-bottom:none;
        border-right:none;
        @media(max-width: 1100px){
            border-top:2px solid #a27ad2;
        }
        &>div{
            border:2px solid #a27ad2;
            border-top:none;
            border-left:none;
            height:256px;
            color:#FFF;
            font-family: 'D-DIN';
            font-size:38px;
            line-height:38px;
            font-weight: bold;
            text-align: center;
            display: table;
            position: relative;
            span{
                display: table-cell;
                vertical-align: middle;
            }
            &.tipo1{
                padding: 68px 0 0;
            }
            &.tipo2{
                padding: 0;
                font-size:42px;
                line-height:250px;
                text-transform: uppercase;
            }
            &.tipo3{
                background-position: top left;
                background-repeat: no-repeat;
            }
            &.seleccionado{
                background-color: #af92d3;
            }
            @media (max-width: 768px){
                height:220px;
                font-size:30px;
                line-height:32px;
                &.col-sm-6 {
                    width: 100%;
                }
                &.tipo1{
                    padding: 38px 0 0;
                }
                &.tipo2{
                    line-height:220px;
                    font-size:34px;
                }
            }
            .overlay{
                display:none;
                position: absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background:url('../images/dg_damero.png') center center no-repeat;
                background-size:cover;
                padding:38px 10%;
                p{
                    font-family: 'D-DIN';
                    font-size:22px;
                    line-height:30px;
                    font-weight: 400;
                    color:#FFF;
                    text-align: left;
                    float: left;
                    width:100%;
                    text-transform: none;
                    @media (max-width: 1200px){
                        font-size:18px;
                        line-height:22px;
                    }
                }
                a{
                    display:block;
                    width:100%;
                    float: right;
                    font-family: 'D-DIN';
                    font-size:20px;
                    line-height:40px;
                    font-weight: 400;
                    color:#F8D921;
                    text-transform: none;
                    text-align: right;
                    i{
                        font-family: 'Asap';
                        font-size:20px;
                        line-height:25px;
                        font-weight: bold;
                        font-style: normal;
                    }
                }
            }
            @media (max-width: 1100px){
                &.seleccionado{
                    display:table;
                    background-color: #af92d3;
                }
                &.clicked{
                    .overlay{
                        display:block;
                    }
                }
            }
            @media (min-width: 1100px){
                &.hidden{
                    display:table !important;
                }
                &:hover{
                    .overlay{
                        display:block;
                    }
                }
            }
        }
    }

}


.row-premios{
    background:#00CFB4;
    position: relative;
    .swiper-button-next,
    .swiper-button-prev{
        padding:20px;
        border-radius:10px;
        top:46%;
        color:#FFF;
        background-size:auto;
        cursor:pointer;
    }
    .swiper-button-next{
        background-image:url('../images/im_arrow-right.png');
    }
    .swiper-button-prev{
        background-image:url('../images/im_arrow-left.png');
    }
    .swiper-slide{

    }
    .container-fluid{
        max-width: none;
    }
    .container-fluid > .row > div{
        height: 68vh;
        max-height:800px;
        min-height: 700px;
        background-size: cover;
        background-position: center center;
    }
    @media(max-width: 1200px){
        .image{
            height:300px !important;
            min-height: 0 !important;
        }
        .container-fluid > .row > div{
            height: auto;
            max-height:none;
            min-height: 0;
        }
    }
    .overlay{
        background-size: cover;
        background-position: center center;
        background-image: url('../images/dg_premios-overlay.png');
        width:100%;
        height:100%;
        position:absolute;
        top: 0;
        left:0;
    }
    h4{
        color:#5959FF;
        font-family: 'LibreBaskerville';
        font-size:22px;
        line-height:30px;
        font-weight: 600;
        letter-spacing: 1px;
        margin:88px 0 20px;
        padding:0 30px;
        @media(max-width: 800px){
            font-size:18px;
            line-height:22px;
        }
    }
    h3{
        font-family: 'D-DIN';
        font-size:60px;
        line-height:65px;
        font-weight: bold;
        color:#FFF;
        margin:0px 0 31px;
        padding:0 30px;
        @media(max-width: 800px){
            font-size:30px;
            line-height:35px;
        }
    }
    .sep{
        height:1px;
        border-bottom:2px solid #5959ff;
        width:100px;
        margin:0 0 46px 33px;
    }
    p{
        color:#FFF;
        font-family: 'D-DIN';
        font-size:24px;
        line-height:30px;
        font-weight: 400;
        margin:0 0 84px 0px;
        padding:0 30px;
        @media(max-width: 800px){
            font-size:20px;
            line-height:26px;
        }
    }
    .botones{
        padding:0;
        margin:0 30px 80px;
        float:left;
        a{
            display: inline-block;
            font-size:20px;
            line-height:30px;
            color:#5959FF;
            padding:6px 28px;
            border:2px solid #5959FF;
            &:last-child{
                border-left:0;
            }
            @media(max-width: 650px){
                font-size:18px;
                line-height:28px;
                text-align: center;
                margin: 0px 8px 0px 0;
                width: 100%;
                max-width: 270px;
                &:last-child{
                    border-left:2px solid #5959FF;
                }
            }
            &:hover{
                border-bottom-width: 6px;
                padding-bottom:2px;
            }
        }
    }

}


.row-videos{
    background-position:top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/bg_videos.jpg');
    padding:45px 0;
    .videos{
        width:960px;
        margin:0 auto;
        @media(max-width: 1000px){
            width:100%;
        }
        .primario{
            height: 530px;
            width:100%;
            iframe{
                height: 100%;
                width:100%;
                float: left;
            }
            @media(max-width: 600px){
                height:350px;
            }
        }

        .swiper-button-next,
        .swiper-button-prev{
            padding:20px;
            border-radius:10px;
            top:48%;
            color:#FFF;
            background-size:auto;
            cursor:pointer;
        }
        .swiper-button-next{
            background-image:url('../images/im_videos-arrow-right.png');
        }
        .swiper-button-prev{
            background-image:url('../images/im_videos-arrow-left.png');
        }

        .lista{
            position: relative;
            border-top:1px solid #dcdbd9;
            @media(max-width: 1000px){
                display: block;
            }
        }

        .swiper-container{

            position:relative;

            .swiper-wrapper{

                .swiper-slide{

                    .thumbnail{
                        -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
                        -moz-box-flex: 1;         /* OLD - Firefox 19- */
                        width: 100%;               /* For old syntax, otherwise collapses. */
                        -webkit-flex: 1;          /* Chrome */
                        -ms-flex: 1;              /* IE 10 */
                        flex: 1;
                        height:90px;
                        background-position: center center;
                        background-size: cover;
                        position: relative;
                        border-right:1px solid #dcdbd9;
                        cursor:pointer;
                        &:last-child{
                            border-right:0;
                        }
                        .overlay{
                            position:absolute;
                            top:0;
                            left:0;
                            width:100%;
                            height:100%;
                            background:url('../images/ic_video-small.png') center center no-repeat;
                            background-color:rgba(200, 200, 200, 0.3);
                        }
                        @media(max-width: 1000px){
                            -webkit-box-flex: 0;      /* OLD - iOS 6-, Safari 3.1-6 */
                            -moz-box-flex: 0;         /* OLD - Firefox 19- */
                            -webkit-flex: 0;          /* Chrome */
                            -ms-flex: 0;              /* IE 10 */
                            flex: 0;
                            display: block;
                            float:left;
                            &:last-child{
                                border-right:1px solid #dcdbd9;
                            }
                        }
                        @media(max-width: 650px){
                            border:1px solid #dcdbd9;
                            border-top:0px solid #dcdbd9;
                        }
                    }
                }
            }
        }

    }

}

.row-alianzas{

    h4{
        color:#262626;
        font-family: 'LibreBaskerville';
        font-size:24px;
        line-height:30px;
        font-weight: 600;
        letter-spacing: 1px;
        margin:90px 0 20px;
        padding:0 30px;
        @media(max-width: 800px){
            font-size:20px;
            line-height:26px;
        }
    }
    p{
        color:#0000FF;
        font-family: 'D-DIN';
        font-size:40px;
        line-height:55px;
        font-weight: 400;
        letter-spacing: 1px;
        margin:0px 0 10px;
        padding:0 30px;
        @media(max-width: 800px){
            font-size:20px;
            line-height:30px;
        }
    }
    .alianzas-tabs{
        margin:35px 0 10px;
        width: 100%;
        float: left;
        @media(max-width: 990px){
            margin:20px 0 60px;
        }
    }
    .tab{
        display: none;
        padding:20px 0 0;
        ul{
            padding:0 30px;
            margin:0;
            text-align: center;
            li{
                list-style: none;
                float: left;
                margin:6px 6px 6px 0;
                display: inline-block;
                height: 90px;
                padding:4px 10px 0;
                font-family: 'DINNextLTPro';
                font-weight: 400;
                font-size: 23px;
                line-height: 23px;
                background:#C1C1C1;
                display: table;
                a{
                    display: table-cell;
                    vertical-align: middle;
                    color:#606060;
                    text-align: center;
                }
                &.tipo-1{
                    width:109px;
                }
                &.tipo-2{
                    width:190px;
                }
                &.tipo-3{
                    width:280px;
                }
                @media(max-width: 650px){
                    float:none;
                    height: auto;
                    padding:24px 20px 20px;
                    display:inline-block;
                    a{

                    }
                    &.tipo-1{
                        width:auto;
                    }
                    &.tipo-2{
                        width:auto;
                    }
                    &.tipo-3{
                        width:auto;
                    }
                }
            }
        }
        &.active{
            display:block;
        }
        &.tab-1{
            padding:0px 0 0;
        }
        &.tab-2{
            ul{
                li:hover{
                    background:#00CFB4;
                    a{
                        color:#606060;
                    }
                }
            }
        }
        &.tab-3{
            ul{
                li:hover{
                    background:#FF0098;
                    a{
                        color:#FFF;
                    }
                }
            }
        }
        &.tab-4{
            ul{
                li:hover{
                    background:#00C3FF;
                    a{
                        color:#606060;
                    }
                }
            }
        }
    }
    .selectioner{
        display:none;
        @media(max-width: 880px){
            display: block;
        }
        select{
            width:calc(100% - 60px);
            height: 50px;
            margin:20px 30px 10px;
            option{
                font-size:14px;
            }
        }
    }
    ul.botones{
        width:100%;
        max-width:400px;
        border-top:2px solid #2d2d2d;
        padding:0;
        margin:50px 0 100px;
        li{
            list-style:none;
            padding:30px 28px;
            border:2px solid #2d2d2d;
            width:100%;
            border-top:0;
            cursor:pointer;
            display: table;
            i{
                display: table-cell;
                width:60px;
                height:60px;
                background-position: center center;
                background-repeat: no-repeat;
            }
            span{
                display: table-cell;
                vertical-align: middle;
                width:calc(100% - 60px);
                color:#000;
                font-family: 'D-DIN';
                font-size:23px;
                line-height:28px;
                font-weight: 600;
                text-transform: uppercase;
                text-align: left;
                padding-left: 10px;
            }
            &:hover{
                border-bottom-width: 7px;
                padding-bottom:25px;
            }
            &.active{
                border-bottom-width: 7px;
                padding-bottom:25px;
            }
        }
        @media(max-width: 990px){
            max-width: none;
            float:left;
            margin:20px 30px 20px;
            width:calc(100% - 60px);
            border-bottom:0px solid #2d2d2d;
            li{
                height:100%;
                width:33.33334%;
                float:left;
                padding:15px 10px 15px 10px;
                border-bottom:2px solid #2d2d2d;
                span{
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
        @media(max-width: 880px){
            display: none;
        }
    }

}

.row-recomendados{

    background:#3CCE3C;

    h4{
        color:#FF59BC;
        font-family: 'LibreBaskerville';
        font-size:26px;
        line-height:30px;
        font-weight: 600;
        letter-spacing: 1px;
        margin:90px 0 25px;
        padding:0 30px;
        @media(max-width: 800px){
            font-size:20px;
            line-height:26px;
        }
    }

    ul{
        width:100%;
        max-width:1400px;
        margin:0 auto;
        padding:0;
        position:relative;
        bottom:-1px;
        li{
            list-style: none;
            border-bottom:1px solid #FFF;
            border-right:1px solid #FFF;
            width:50%;
            float:left;
            a{
                display: block;
                color:#FFF;
                font-family: 'D-DIN';
                font-size:40px;
                line-height:50px;
                font-weight: 600;
                padding:35px 20px 30px 45px;
                @media(max-width: 800px){
                    font-size:22px;
                    line-height:30px;
                }
                span{
                    font-size:25px;
                    font-weight: 400;
                }
                &:hover{
                    background:#FF59BC;
                }
            }
            &:nth-child(even){
                border-right:none;
            }
        }
        @media(max-width: 1300px){

            li{
                width:100%;
                border-right:0px;
            }

        }
    }

}


//DESARROLLO LOCAL
.row-desarrollo{
    background-position:top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:180px 0 0;
    h4{
        color:#0000FF;
        font-family: 'LibreBaskerville';
        font-size:22px;
        line-height:30px;
        font-weight: 600;
        letter-spacing: 1px;
        margin:88px 0 26px;
        padding:0 30px;
        @media(max-width: 800px){
            font-size:18px;
            line-height:22px;
        }
    }
    h3{
        font-family: 'D-DIN';
        font-size:60px;
        line-height:65px;
        font-weight: bold;
        color:#262626;
        margin:0px 0 36px;
        padding:0 30px;
        @media(max-width: 800px){
            font-size:30px;
            line-height:35px;
        }
    }
    .sep{
        height:1px;
        border-bottom:2px solid #5959FF;
        width:100px;
        margin:0 0 50px 33px;
    }
    p{
        color:#262626;
        font-family: 'DINNextLTPro';
        font-size:23px;
        line-height:29px;
        font-weight: 200;
        margin:0 0 0;
        padding:0 30px 40px;
        @media(max-width: 800px){
            font-size:20px;
            line-height:26px;
        }
    }
}

.row-laboratorio{
    padding:60px 0 0;

    .container-fluid{
        max-width:none;
        .row{
            .col-texto, .col-mapa{
                height:1000px;
            }
        }
    }
    .col-texto{
        background: #5959FF;
        .container-texto{
            height:1000px;
            display: table;
            .vertical-align{
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    .col-mapa{
        background: #59E0CE;
        .map{
            background-size: cover;
            background-position: center center;
            background-image: url('../images/s');
            width:100%;
            height:1000px;
        }
    }

    h4{
        color:#59E0CE;
        font-family: 'LibreBaskerville';
        font-size:22px;
        line-height:30px;
        font-weight: 600;
        letter-spacing: 1px;
        margin:20px 0 26px;
        padding:0 30px;
        @media(max-width: 800px){
            font-size:18px;
            line-height:22px;
        }
    }
    h3{
        font-family: 'D-DIN';
        font-size:60px;
        line-height:65px;
        font-weight: bold;
        color:#FFF;
        margin:0px 0 36px;
        padding:0 30px;
        @media(max-width: 800px){
            font-size:30px;
            line-height:35px;
        }
    }
    .sep{
        height:1px;
        border-bottom:2px solid #59E0CE;
        width:100px;
        margin:0 0 50px 33px;
    }
    p{
        color:#FFF;
        font-family: 'DINNextLTPro';
        font-size:23px;
        line-height:29px;
        font-weight: 200;
        margin:0 0 0;
        padding:0 30px 40px;
        @media(max-width: 800px){
            font-size:20px;
            line-height:26px;
        }
    }

}

.row-diagnostico{
    background: #FF59BC;
    height:auto;

    .pinkfloyd{
        background: #FF59BC;
        position: relative;
        bottom:-160px;
    }

    h4{
        color:#262626;
        font-family: 'LibreBaskerville';
        font-size:22px;
        line-height:30px;
        font-weight: 600;
        letter-spacing: 1px;
        margin:0px 0 26px;
        padding:0 30px;
        @media(max-width: 800px){
            font-size:18px;
            line-height:22px;
        }
    }
    p{
        color:#FFF;
        font-family: 'D-DIN';
        font-size:40px;
        line-height:55px;
        font-weight: 300;
        margin:0 0 0;
        padding:0 30px 40px;
        @media(max-width: 800px){
            font-size:20px;
            line-height:26px;
        }
    }

}

.row-formulario{
    background: #79D059;
    padding-top:160px;
}
